@keyframes dropAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.visible {
  display: block;
}

.tech-stack-item1 {
  animation: dropAnimation 0.5s ease-in-out;
}
.tech-stack-item2 {
  animation: dropAnimation 0.7s ease-in-out;
}
.tech-stack-item3 {
  animation: dropAnimation 0.9s ease-in-out;
}
.tech-stack-item4 {
  animation: dropAnimation 1.1s ease-in-out;
}
.tech-stack-item5 {
  animation: dropAnimation 1.3s ease-in-out;
}
.tech-stack-item6 {
  animation: dropAnimation 1.5s ease-in-out;
}

